Options -Indexes
DirectoryIndex index.html

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^$ index.html [L]
RewriteRule ^login/?$ login.html [L,NC]
RewriteRule ^cadastro/?$ cadastro.html [L,NC]
RewriteRule ^tarefas/?$ tarefas.html [L,NC]
RewriteRule ^perfil/?$ perfil.html [L,NC]
RewriteRule ^usuarios/?$ usuarios.html [L,NC]
RewriteRule ^auditoria/?$ auditoria.html [L,NC]
RewriteRule ^recuperar-senha/?$ recuperar-senha.html [L,NC]
RewriteRule ^redefinir-senha/?$ redefinir-senha.html [L,NC]